body {
  height: 100%;
}

.header {
  background: #ffffff;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0;
}

.cursors {
  cursor: pointer;
}

.linkw {
  color: #212121;
}

.linkw:hover {
  color: #2196f3;
}

.header .cursors .linkw {
  color: #2196f3;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;
}

.linke {
  color: #212121;
}

.linke:hover {
  color: #2196f3;
}

.header .cursors .linke {
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.linkp {
  color: #212121;
}

.linkp:hover {
  color: #2196f3;
}

.header .cursors .linkp {
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.linkc {
  color: #212121;
}

.linkc:hover {
  color: #2196f3;
}

.header .cursors .linkc {
  width: 67px;
  height: 16px;
  left: 667px;
  top: 32px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.linki {
  color: #212121;
}

.linki:hover {
  color: #2196f3;
}

.header .cursors .linki {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.linkt {
  color: #212121;
}

.linkt:hover {
  color: #2196f3;
}

.header .cursors .linkt {
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.section1 {
  width: 1600px;
  height: 600px;
  left: -4px;
  top: 80px;
  background: #2f383a;
}
.soluciones {
  color: #ffffff;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #ffffff;
}

.section2 {
  color: #e5e5e5;
}

.atencion {
  width: 270px;
  height: 16px;
  left: 215px;
  top: 775px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.atencion1 {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 801px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.puntualidad {
  width: 270px;
  height: 16px;
  left: 515px;
  top: 775px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.puntualidad1 {
  width: 270px;
  height: 96px;
  left: 515px;
  top: 801px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.planificacion {
  width: 270px;
  height: 16px;
  left: 815px;
  top: 775px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.planificacion1 {
  width: 270px;
  height: 75px;
  left: 815px;
  top: 801px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #757575;
}

.tenologia {
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 775px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.tecnologia1 {
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 801px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.dedicamos {
  width: 371.15px;
  height: 46.24px;
  left: 619.43px;
  top: 991px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.paginas {
  width: 373.16px;
  height: 323.7px;
  left: 215px;
  top: 1092.3px;
  list-style: none;
}

.apps {
  width: 373.16px;
  height: 323.7px;
  left: 618.42px;
  top: 1092.3px;
  list-style: none;
}

.tablet {
  width: 373.16px;
  height: 323.7px;
  left: 1015px;
  top: 1092px;
  list-style: none;
}

.section4 {
  left: 0px;
  top: 1510px;
  background: #f5f4fa;
}

.nuestro {
  width: 263px;
  height: 42px;
  left: 669px;
  top: 1604px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.andres {
  width: 270px;
  height: 260px;
  left: 208px;
  top: 1696px;
  border-radius: 0px;
  list-style: none;
}

.cubo {
  width: 97px;
  height: 19px;
  left: 295px;
  top: 1986px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.diseñador {
  width: 181px;
  height: 19px;
  left: 293px;
  top: 2015px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.carla {
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1696px;
  list-style: none;
}

.palacios {
  width: 109px;
  height: 19px;
  left: 596px;
  top: 1986px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  list-style: none;
}

.front {
  width: 183px;
  height: 19px;
  left: 559px;
  top: 2015px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.mario {
  width: 270px;
  height: 260px;
  left: 822px;
  top: 1696px;
  list-style: none;
}

.dorado {
  width: 103px;
  height: 19px;
  left: 906px;
  top: 1986px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.marketing {
  width: 76px;
  height: 19px;
  left: 919px;
  top: 2015px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.pablo {
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1696px;
  list-style: none;
}

.mijangos {
  width: 118px;
  height: 19px;
  left: 1191px;
  top: 1986px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.iu {
  width: 97px;
  height: 19px;
  left: 1202px;
  top: 2015px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;
  background: #2f303a;
}

.linkwe {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2218px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.mexico {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2258px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.info {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2306;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2329;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tecno {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 - 334px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.sitio {
  width: 322px;
  height: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 30px / 2 - 297px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.poster {
  width: 322px;
  height: 72px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 72px / 2 - 316px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.restaurante {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 72px / 2 - 334px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.aplicaciones {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 30px / 2 - 297px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #757575;
}

.proyecto {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 + 100px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.marke {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 30px / 2 + 137px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #757575;
}

.cajas {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 36px / 2 + 100px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.aplica {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 30px / 2 + 137px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #757575;
}

.limites {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 36px / 2 + 100px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.sitio {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 30px / 2 + 137px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.limitada {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 + 534px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.diseño {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 30px / 2 + 571px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.lab {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 36px / 2 + 534px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.market {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 30px / 2 + 571px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.negocio {
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 36px / 2 + 534px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.aplicac {
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 36px / 2 + 534px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
